<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css"> 
</head>
<body>
    <%- include('./partials/nav') %>
    <%= suppliers[0].name %>
    <% suppliers.forEach((supplier) => { %>
        <a href= <%=supplier.website%> target="_blank">
            <div class="suppliers">
                <!-- <img ==> -->
                <p><%= supplier.name %></p>
                <p><%= supplier.location %></p>
            </div>
        </a>
    <%  }); %>
        
    
</body>
</html>